@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  box-sizing: border-box;
}

h2{
  color: #FFF;
  text-align: center;
  /* font-family: Euclid Circular A; */
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 116.667% */
}

h3{
  color: #FFF;
  text-align: center;
  /* font-family: Euclid Circular A; */
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 116.667% */
}

h4{
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 83.333% */
}

h5{
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 83.333% */
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

.spinOverlay{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinContainer{
  display: inline-block;
  width: 25px;
  height: 25px;
  border: 3px solid rgba(195, 195, 195, 0.6);
  border-radius: 50%;
  border-top-color: #F2F2F2;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}
